{% extends 'landingpage/base.html' %} {% load bootstrap3 %} {% block content %}
<div class="wrapper">




    <div class="homebody">

        <div class="header">

            <img src="../../static/css/images/thele.jpg" alt="">
            <h1>WELCOME TO THELEWAALA!</h1>
            <p>Login As?</p>

        </div>

        <!-- Buttons -->
        <div class="driverbtn">
            <a href="/driver/profile">
                <p> Vendor </p>
            </a>
        </div>
        <div class="passengerbtn">
            <a href="/passenger/profile">
                <p> Passenger</p>
            </a>
        </div>

    </div>




</div>

{% endblock %}