{% extends 'uber/base.html' %} {% load bootstrap3 %} {% load static from staticfiles %} {% block content %}

<section class="sec1">


</section>
<section class="content">
    <p style="color: #888"> Thelewaala</p>
    <p style="color: #888"> This was founded to support the mobile street vendors during the time of a global pandemic where they had been affected adversely and couldn’t cope up with the losses they incurred.</p>

    <p style="color: #888">
        We aim to design an application that will be a point of contact between mobile street vendors (vegetable sellers, fruit sellers, other items), and customers. The customers would just have to book an order for the products he/she wants and the nearest
        mobile vendors will accept the business order and directly reach the person. In an Indian market setup, such an ecosystem would benefit both the myriad street vendors and customers.
    </p>



    <div class="aboutcent">

    </div>



</section>


{% endblock%}